<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  {{!-- <link rel="stylesheet" href="style.css"> --}}
  {{!-- <script src="script.js"></script> --}}
</head>
<body>

    {{>header}}


    <div class="container">
        <h1>Page About</h1>
    </div>


</body>
</html>